GuK-DataFactory/PartialArmTemplates/ArmTemplate_8_12_2018_7_37_19.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name",
			"defaultValue": "GuK-DataFactory"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/ADF_DEV_GUK_IMPORT')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Die GuK Daten einlesen",
				"activities": [
					{
						"name": "1_lkp_last_file",
						"description": "Ermittle das letzte File welches eingelesen wurde",
						"type": "Lookup",
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false
						},
						"typeProperties": {
							"source": {
								"type": "HiveSource",
								"query": "select AvailableDate as AvailableDate, SuccessFlag as SuccessFlag from hvdb_as_dev_guk.htb_guk_last_record where ProcessDate is not null order by ProcessDate desc"
							},
							"dataset": {
								"referenceName": "hvdb_as_dev_guk_ds",
								"type": "DatasetReference"
							}
						}
					},
					{
						"name": "1_1_lkp_last_file_gefundet",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "1_lkp_last_file",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"typeProperties": {
							"expression": {
								"value": "@contains(activity('1_lkp_last_file').output, 'firstRow')",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "Insert_File_Not_Found_Log",
									"type": "HDInsightHive",
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false
									},
									"typeProperties": {
										"scriptPath": "poc-asadl-hdi-2018-07-17t08-43-04-268z/vehicle/script/GuK_write_log.hql",
										"defines": {
											"message": "File not found"
										},
										"scriptLinkedService": {
											"referenceName": "hvdb_as_dev_guk_asls",
											"type": "LinkedServiceReference"
										}
									},
									"linkedServiceName": {
										"referenceName": "hvdb_as_dev_guk_hdls",
										"type": "LinkedServiceReference"
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "Insert_File_Found_Log",
									"type": "HDInsightHive",
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false
									},
									"typeProperties": {
										"scriptPath": "poc-asadl-hdi-2018-07-17t08-43-04-268z/vehicle/script/GuK_write_log.hql",
										"getDebugInfo": "None",
										"defines": {
											"message": {
												"value": "@concat('The process date of the last processed file is ', activity('1_lkp_last_file').output.firstRow.AvailableDate)",
												"type": "Expression"
											}
										},
										"scriptLinkedService": {
											"referenceName": "hvdb_as_dev_guk_asls",
											"type": "LinkedServiceReference"
										}
									},
									"linkedServiceName": {
										"referenceName": "hvdb_as_dev_guk_hdls",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "2_lkp_next_file",
									"description": "Ermittlung des nachsten Files zum einlesen",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "Insert_File_Found_Log",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false
									},
									"typeProperties": {
										"source": {
											"type": "HiveSource",
											"query": {
												"value": "select FileName as FileName, AvailableDate as AvailableDate,\ncurrent_timestamp() as ProcessDate from tb_as_guk_available_files  where AvailableDate > TO_DATE('@{activity('1_lkp_last_file').output.firstRow.AvailableDate}') order by AvailableDate desc ",
												"type": "Expression"
											}
										},
										"dataset": {
											"referenceName": "hvdb_as_dev_guk_ds",
											"type": "DatasetReference"
										}
									}
								},
								{
									"name": "2_1_lkp_next_file_gefundet",
									"type": "HDInsightHive",
									"dependsOn": [
										{
											"activity": "2_lkp_next_file",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false
									},
									"typeProperties": {
										"scriptPath": "poc-asadl-hdi-2018-07-17t08-43-04-268z/vehicle/script/GuK_write_last_record.hql",
										"defines": {
											"FileName": {
												"value": "@activity('2_lkp_next_file').output.firstRow.FileName",
												"type": "Expression"
											},
											"AvailableDate": {
												"value": "@replace(replace(activity('2_lkp_next_file').output.firstRow.AvailableDate, 'T', ' '), 'Z', '')",
												"type": "Expression"
											},
											"ProcessDate": {
												"value": "@replace(replace(activity('2_lkp_next_file').output.firstRow.ProcessDate, 'T', ' '), 'Z', '')",
												"type": "Expression"
											}
										},
										"scriptLinkedService": {
											"referenceName": "hvdb_as_dev_guk_asls",
											"type": "LinkedServiceReference"
										}
									},
									"linkedServiceName": {
										"referenceName": "hvdb_as_dev_guk_hdls",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/hvdb_as_dev_guk_ds')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Vehicle_Lookup_For_Next_Files')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup_Next_File",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Lookup_Last_File",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false
						},
						"typeProperties": {
							"source": {
								"type": "SqlSource",
								"sqlReaderQuery": {
									"value": "select file_name from guk_vehicle.source_files  where available_date > '@{activity('Lookup_Last_File').output.firstRow.available_date}' order by available_date desc ",
									"type": "Expression"
								}
							},
							"dataset": {
								"referenceName": "Source_Files",
								"type": "DatasetReference"
							}
						}
					},
					{
						"name": "Lookup_Last_File",
						"type": "Lookup",
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false
						},
						"typeProperties": {
							"source": {
								"type": "SqlSource",
								"sqlReaderQuery": "select max(available_date) as available_date from guk_vehicle.process_log where process_date is not null"
							},
							"dataset": {
								"referenceName": "Processed_Files",
								"type": "DatasetReference"
							}
						}
					},
					{
						"name": "Execute Vehicle_Prepare_and_Move_File",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Lookup_Next_File",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Vehicle_Store_Into_Hive",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"file_name": {
									"value": "@{activity('Lookup_Next_File').output.firstRow.file_name}",
									"type": "Expression"
								}
							}
						}
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Source_Files')]",
				"[concat(variables('factoryId'), '/datasets/Processed_Files')]",
				"[concat(variables('factoryId'), '/pipelines/Vehicle_Store_Into_Hive')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Vehicle_Lookup_For_Next_Files_Hive')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup_Last_File",
						"type": "Lookup",
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false
						},
						"typeProperties": {
							"source": {
								"type": "HiveSource",
								"query": "select available_date as available_date from vehicle.process_log where process_date is not null order by available_date desc"
							},
							"dataset": {
								"referenceName": "Vehicle_Log_files",
								"type": "DatasetReference"
							}
						}
					},
					{
						"name": "Lookup_Next_File",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Lookup_Last_File",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false
						},
						"typeProperties": {
							"source": {
								"type": "HiveSource",
								"query": {
									"value": "select file_name, available_date, current_timestamp() as process_date from vehicle.source_files  where available_date > TO_DATE('@{if(not(contains(activity('Lookup_Last_File').output, 'firstRow')),'2000-01-01',activity('Lookup_Last_File').output.firstRow.available_date)}') order by available_date asc",
									"type": "Expression"
								}
							},
							"dataset": {
								"referenceName": "Vehicle_Log_files",
								"type": "DatasetReference"
							}
						}
					},
					{
						"name": "Execute Vehicle_Prepare_And_Move_File",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Insert_Process_Log_Entry",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Vehicle_Prepare_and_Move_File",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"file_name": {
									"value": "@{activity('Lookup_Next_File').output.firstRow.file_name}",
									"type": "Expression"
								},
								"available_date": {
									"value": "@{activity('Lookup_Next_File').output.firstRow.available_date}",
									"type": "Expression"
								},
								"process_date": {
									"value": "@{activity('Lookup_Next_File').output.firstRow.process_date}",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Error_In_File_Processing",
						"type": "HDInsightHive",
						"dependsOn": [
							{
								"activity": "Execute Vehicle_Prepare_And_Move_File",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false
						},
						"typeProperties": {
							"scriptPath": "poc-asadl-hdi-2018-07-17t08-43-04-268z/vehicle/script/GuK_write_log.hql",
							"getDebugInfo": "None",
							"defines": {
								"message": {
									"value": "@concat('Error while processing ', activity('Lookup_Next_File').output.firstRow.file_name)",
									"type": "Expression"
								}
							},
							"scriptLinkedService": {
								"referenceName": "vehicle_service",
								"type": "LinkedServiceReference"
							}
						},
						"linkedServiceName": {
							"referenceName": "hvdb_as_dev_guk_hdls",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Insert_Process_Log_Entry",
						"type": "HDInsightHive",
						"dependsOn": [
							{
								"activity": "Lookup_Next_File",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false
						},
						"typeProperties": {
							"scriptPath": "poc-asadl-hdi-2018-07-17t08-43-04-268z/vehicle/script/vehicle_write_last_record.hql",
							"defines": {
								"FileName": {
									"value": "@{activity('Lookup_Next_File').output.firstRow.file_name}",
									"type": "Expression"
								},
								"AvailableDate": {
									"value": "@replace(replace(activity('Lookup_Next_File').output.firstRow.available_date, 'T', ' '), 'Z', '')",
									"type": "Expression"
								},
								"ProcessDate": {
									"value": "@replace(replace(activity('Lookup_Next_File').output.firstRow.process_date, 'T', ' '), 'Z', '')",
									"type": "Expression"
								}
							},
							"scriptLinkedService": {
								"referenceName": "vehicle_service",
								"type": "LinkedServiceReference"
							}
						},
						"linkedServiceName": {
							"referenceName": "vehicle_linked_service",
							"type": "LinkedServiceReference"
						}
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Vehicle_Log_files')]",
				"[concat(variables('factoryId'), '/pipelines/Vehicle_Prepare_and_Move_File')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Vehicle_Prepare_and_Move_File')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Extract compressed file into the /vehicle/input_folder from /vehicle/zip",
				"activities": [
					{
						"name": "UncompressFile",
						"description": "UncompressZipFileForProcess",
						"type": "Copy",
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false
						},
						"userProperties": [
							{
								"name": "file_name",
								"value": "@pipeline().parameters.file_name"
							}
						],
						"typeProperties": {
							"source": {
								"type": "BlobSource",
								"recursive": false
							},
							"sink": {
								"type": "BlobSink",
								"copyBehavior": "FlattenHierarchy"
							},
							"enableStaging": false,
							"dataIntegrationUnits": 0
						},
						"inputs": [
							{
								"referenceName": "zip_folder",
								"type": "DatasetReference",
								"parameters": {
									"file_name": "@pipeline().parameters.file_name"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "zip_target",
								"type": "DatasetReference",
								"parameters": {
									"file_name": "@pipeline().parameters.file_name"
								}
							}
						]
					},
					{
						"name": "Execute Vehicle_Store_Into_Hive",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "UncompressFile",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Vehicle_Store_Into_Hive",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"file_name": {
									"value": "@pipeline().parameters.file_name",
									"type": "Expression"
								},
								"available_date": {
									"value": "@pipeline().parameters.available_date",
									"type": "Expression"
								},
								"process_date": {
									"value": "@pipeline().parameters.process_date",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Error_while_decompression",
						"type": "HDInsightHive",
						"dependsOn": [
							{
								"activity": "UncompressFile",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false
						},
						"typeProperties": {
							"scriptPath": "poc-asadl-hdi-2018-07-17t08-43-04-268z/vehicle/script/GuK_write_log.hql",
							"getDebugInfo": "None",
							"defines": {
								"message": {
									"value": "@concat('Error while uncompress ', pipeline().parameters.file_name)",
									"type": "Expression"
								}
							},
							"scriptLinkedService": {
								"referenceName": "vehicle_service",
								"type": "LinkedServiceReference"
							}
						},
						"linkedServiceName": {
							"referenceName": "hvdb_as_dev_guk_hdls",
							"type": "LinkedServiceReference"
						}
					}
				],
				"parameters": {
					"file_name": {
						"type": "String",
						"defaultValue": "@pipeline().parameters.file_name"
					},
					"available_date": {
						"type": "String",
						"defaultValue": "@pipeline().parameters.available_date"
					},
					"process_date": {
						"type": "String",
						"defaultValue": "@pipeline().parameters.process_date"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/zip_folder')]",
				"[concat(variables('factoryId'), '/datasets/zip_target')]",
				"[concat(variables('factoryId'), '/pipelines/Vehicle_Store_Into_Hive')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Vehicle_Store_Into_Hive')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Load vehicle datas to external table(hvtb_vehicle_mgn_external), and merge into the hive table(hvtb_vehicle_mgn)",
				"activities": [
					{
						"name": "ProcessVehicleDatas",
						"description": "Load vehicle datas to external table(hvtb_vehicle_mgn_external), and merge into the hive table(hvtb_vehicle_mgn)",
						"type": "HDInsightHive",
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false
						},
						"typeProperties": {
							"scriptPath": "poc-asadl-hdi-2018-07-17t08-43-04-268z/vehicle/script/processIncomingVehicleDatas.hql",
							"defines": {
								"fileName": {
									"value": "@concat('/vehicle/input_folder/',replace(pipeline().parameters.file_name, '.zip', '.csv'))",
									"type": "Expression"
								}
							},
							"scriptLinkedService": {
								"referenceName": "vehicle_service",
								"type": "LinkedServiceReference"
							}
						},
						"linkedServiceName": {
							"referenceName": "vehicle_linked_service",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Archive_File",
						"description": "Move the processed file to /vehicle/archive folder",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Update_Process_Log_Entry",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false
						},
						"typeProperties": {
							"source": {
								"type": "BlobSource",
								"recursive": true
							},
							"sink": {
								"type": "BlobSink"
							},
							"enableStaging": false,
							"dataIntegrationUnits": 0
						},
						"inputs": [
							{
								"referenceName": "SourceFolder",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "ArchiveFolder",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Update_Process_Log_Entry",
						"type": "HDInsightHive",
						"dependsOn": [
							{
								"activity": "ProcessVehicleDatas",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false
						},
						"typeProperties": {
							"scriptPath": "poc-asadl-hdi-2018-07-17t08-43-04-268z/vehicle/script/vehicle_update_last_record.hql",
							"defines": {
								"FileName": {
									"value": "@pipeline().parameters.file_name",
									"type": "Expression"
								}
							},
							"scriptLinkedService": {
								"referenceName": "vehicle_service",
								"type": "LinkedServiceReference"
							}
						},
						"linkedServiceName": {
							"referenceName": "vehicle_linked_service",
							"type": "LinkedServiceReference"
						}
					}
				],
				"parameters": {
					"file_name": {
						"type": "String",
						"defaultValue": "@pipeline().parameters.file_name"
					},
					"available_date": {
						"type": "String",
						"defaultValue": "@pipeline().parameters.available_date"
					},
					"process_date": {
						"type": "String",
						"defaultValue": "@pipeline().parameters.process_date"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SourceFolder')]",
				"[concat(variables('factoryId'), '/datasets/ArchiveFolder')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/test')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "TestInsrtInLookup",
						"type": "Lookup",
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false
						},
						"typeProperties": {
							"source": {
								"type": "HiveSource",
								"query": "insert into vehicle.process_log(file_name) values ('test')"
							},
							"dataset": {
								"referenceName": "Vehicle_Log_files",
								"type": "DatasetReference"
							},
							"firstRowOnly": false
						}
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Vehicle_Log_files')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ArchiveFolder')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureStorage1",
					"type": "LinkedServiceReference"
				},
				"type": "AzureBlob",
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"nullValue": "\\N",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": false
					},
					"fileName": "",
					"folderPath": "poc-asadl-hdi-2018-07-17t08-43-04-268z/vehicle/archive"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/CoE_InputDataSource')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Tamas_InputSource",
					"type": "LinkedServiceReference"
				},
				"type": "AzureBlob",
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "\n",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": true
					},
					"compression": {
						"type": "GZip"
					},
					"fileName": "test.csv*.gz",
					"folderPath": "guk-test-data/guk"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/Processed_Files')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "PoC_ASADL_DB",
					"type": "LinkedServiceReference"
				},
				"type": "AzureSqlTable",
				"typeProperties": {
					"tableName": "[concat('[', 'guk_vehicle].[process_log]')]"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceFolder')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureStorage1",
					"type": "LinkedServiceReference"
				},
				"type": "AzureBlob",
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"nullValue": "\\N",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": false
					},
					"fileName": "*",
					"folderPath": "poc-asadl-hdi-2018-07-17t08-43-04-268z/vehicle/hive"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/Source_Files')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "PoC_ASADL_DB",
					"type": "LinkedServiceReference"
				},
				"type": "AzureSqlTable",
				"typeProperties": {
					"tableName": "[concat('[', 'guk_vehicle].[source_files]')]"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/Vehicle_Log_files')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "vehicle_linked_service_hive",
					"type": "LinkedServiceReference"
				},
				"type": "HiveObject"
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/hvdb_as_dev_guk_ds')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "dataset for GuK Hive table",
				"linkedServiceName": {
					"referenceName": "hvdb_as_dev_guk_ls",
					"type": "LinkedServiceReference"
				},
				"type": "HiveObject"
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/zip_folder')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "vehicle_service",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"file_name": {
						"type": "String"
					}
				},
				"type": "AzureBlob",
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"nullValue": "\\N",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": false
					},
					"compression": {
						"type": "ZipDeflate"
					},
					"fileName": {
						"value": "@dataset().file_name",
						"type": "Expression"
					},
					"folderPath": "poc-asadl-hdi-2018-07-17t08-43-04-268z/vehicle/zip"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/zip_target')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "vehicle_service",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"file_name": {
						"type": "String"
					}
				},
				"type": "AzureBlob",
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"nullValue": "\\N",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": false
					},
					"fileName": {
						"value": "@replace(dataset().file_name, '.zip', '.csv')",
						"type": "Expression"
					},
					"folderPath": "poc-asadl-hdi-2018-07-17t08-43-04-268z/vehicle/input_folder"
				}
			}
		}
	]
}